{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}

<ul class="product-card-compare card-wrapper underline-links-hover">
  <li>
    <div
      class="
        card card--{{ settings.card_style }}
        {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
      "
    >
      <div class="card__inner">
        <a href="{{ product.url }}" class="full-unstyled-link">
          <div class="card__media1">
            <div class="media--transparent media--hover-effect">
              <img src="{{ product | image_url: width: 311 }}">
            </div>
          </div>
        </a>
        <div class="product-hover">
          <button
            type="button"
            aria-label="Add to compare"
            class="cm-link btn--status"
            button-compare
            data-product-handle="{{ product.handle }}"
          >
            {%- render 'icon-close' -%}
          </button>
        </div>
        <div class="card-information">
          <span class="card-information__text"
            ><a href="{{ product.url }}" class="full-unstyled-link">{{ product.title }}</a></span
          >
          {% render 'price' %}
        </div>
      </div>
    </div>
  </li>
  <li>
    <span class="form__label">{{ 'accessibility.vendor' | t }}</span><span>{{ product.vendor }}</span>
  </li>
  <li>
    <span class="form__label">{{ 'products.product.type' | t }}</span><span>{{ product.type }}</span>
  </li>
  <li>
    <span class="form__label">{{ 'products.product.sku' | t }}</span
    ><span class="js-variant-sku">{{ product.selected_or_first_available_variant.sku | default: product.sku }}</span>
  </li>
  <li>
    <span class="form__label">{{ 'products.product.Availability' | t }}</span
    ><span class="js-variant-availability">
      {%- if product.available -%}
        {{ 'products.product.inventory_in_stock' | t }}
      {%- else -%}
        {{ 'products.product.inventory_out_of_stock' | t }}
      {%- endif -%}
    </span>
  </li>

  <li>
    <span class="form__label">{{ 'products.product.Color' | t }}</span
    ><span class="color">
      {%- for option in product.options_with_values -%}
        {%- liquid
          assign swatch_count = option.values | map: 'swatch' | compact | size
          assign picker_type = block.settings.picker_type

          if swatch_count > 0 and block.settings.swatch_shape != 'none'
            if block.settings.picker_type == 'dropdown'
              assign picker_type = 'swatch_dropdown'
            else
              assign picker_type = 'swatch'
            endif
          endif
        -%}

        {%- if picker_type == 'swatch' -%}
          {%- for value in option.values -%}
            {%- liquid
              if value.swatch.image
                assign image_url = value.swatch.image | image_url: width: 50
                assign swatch_value = 'url(' | append: image_url | append: ')'
              elsif value.swatch.color
                assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
              else
                assign swatch_value = null
              endif
            -%}
            <option
              class="swatch"
              style="--swatch--background: {{ swatch_value }};width:18px;height:18px;display:inline-block;border-radius:50%;border:.1rem solid #e5e5e5;"
            ></option>
          {% endfor %}
        {%- elsif option.name == 'Color' -%}
          {%- for value in option.values -%}
            <option
              style="background-color: {{ value | escape }};width:18px;height:18px;display:inline-block;border-radius:50%;border:.1rem solid #e5e5e5;"
            ></option>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </span>
  </li>

  {% if product.options_by_name.Size.values %}
    <li>
      <span class="form__label">{{ 'products.product.Size' | t }}</span
      ><span>
        {% for size_option in product.options_by_name.Size.values %}
          <option>{{ size_option }}</option>
        {% endfor %}
      </span>
    </li>
  {% endif %}

  {% if product.options_by_name.Flavours.values %}
    <li>
      <span class="form__label">{{ 'products.product.Flavours' | t }}</span
      ><span>
        {% for flavours_option in product.options_by_name.Flavours.values %}
          <option>{{ flavours_option }}</option>
        {% endfor %}
      </span>
    </li>
  {% endif %}
  {% if product.options_by_name.Fabric.values %}
    <li>
      <span class="form__label">{{ 'products.product.Fabric' | t }}</span
      ><span>
        {% for fabric_option in product.options_by_name.Fabric.values %}
          <option>{{ fabric_option }}</option>
        {% endfor %}
      </span>
    </li>
  {% endif %}
  <li>
    <span class="form__label">{{ 'products.product.description' | t }}</span>
    <span>
      {{ product.description | strip_html | truncatewords: 20 }}
    </span>
  </li>
</ul>
